
@model List<CustomInscription>

@{
    ViewData["Title"] = "Liste DV";
    Layout = "_Layout";
}

<div class="">
    <h3>Liste des DV</h3>
    <hr />
</div>

<div class="row">
    <section class="card box-typical-dashboard">
        <div class="card-block ">



            <table id="example" class="mdl-data-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Contact</th>
                        <th>Confirmation Number</th>
                        <th>Resultat</th>
                        <th>Dossier</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Contact</th>
                        <th>Confirmation Number</th>
                        <th>Resultat</th>
                        <th>Dossier</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href=""><b> @Html.DisplayFor(modelItem => item.InscriptionId)</b></a></td>
                            <td><img src="/@Html.DisplayFor(modelItem => item.Photo)" width="40" height="40" /></td>
                            <td><b> @Html.DisplayFor(modelItem => item.Nom)</b></td>
                            <td><b> @Html.DisplayFor(modelItem => item.Tel1)</b></td>
                            <td>
                                @if (string.IsNullOrEmpty(item.ConfimationNumber))
                                {
                                    <a asp-action="AjouterCN" style="font-weight:bold;" asp-route-idclient="@item.ClientsId" asp-route-idins="@item.InscriptionId">

                                        Ajouter
                                    </a>
                                }
                                else
                                {
                                    <a href=""  style="font-weight:bold;">OK</a>
                                }

                            </td>
                            <td>
                                @if (string.IsNullOrEmpty(item.Resultat))
                                {
                                    <a asp-action="ResultatInscriptionDV" style="font-weight:bold;" asp-route-idclient="@item.ClientsId" asp-route-idins="@item.InscriptionId">Consulter</a>
                                }
                                else
                                {
                                    <a href="" style="font-weight:bold;">OK</a>
                                }
                             </td>
                            <td>
                                <a asp-action="DetailsInscriptionDV" style="font-weight:bold;" asp-route-id="@item.ClientsId">Details</a> 
                            </td>



                        </tr>
                    }
                </tbody>
            </table>









        </div>

    </section>
</div>
@section scriptsh {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css " type="text/css">
    }


@section scripts {
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

  @*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*@
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.material.min.js"></script>


<script>
$(document).ready(function() {
    $('#example').DataTable( {
        columnDefs: [
            {
                targets: [ 0, 1, 2 ],
                className: 'mdl-data-table__cell--non-numeric'
            }
        ],

        language: {
        processing: "Traitement en cours...",
        search: "Rechercher&nbsp;:",
        lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
        info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix: "",
        loadingRecords: "Chargement en cours...",
        zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable: "Aucune donnée disponible dans le tableau",
        paginate: {
            first: "Premier",
            previous: "Pr&eacute;c&eacute;dent",
            next: "Suivant",
            last: "Dernier"
        },
        aria: {
            sortAscending: ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
    }

    });


});


</script>

        }
