
@model List<CustomInscription>

@{
    ViewData["Title"] = "Liste Clients valides";
    Layout = "_Layout";
}

<div class="">
    <h4 style="color:orangered;">Liste des Clients valid&eacute;s @ViewBag.Annee</h4>
    <hr />
</div>

<section class="card box-typical-full-height">
    <div class="card-block ">
        <p>
            @*<h3> Informations Principales</h3>*@
        </p>
        
       


            <table id="example" class="mdl-data-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Telecharger</th>
                        <th>Modifier</th>
                        <th>Dossier</th>
                        <th>Enfants/Conjoints</th>
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Telecharger</th>
                        <th>Modifier</th>
                        <th>Dossier</th>
                        <th>Enfants/Conjoints</th>
                        
                    </tr>
                </tfoot>
                <tbody>
@foreach (var item in Model)
{
                    <tr>
                        <td><a href=""><b> @Html.DisplayFor(modelItem => item.InscriptionId)</b> </a></td>
                        <td> <img  src="/@Html.DisplayFor(modelItem => item.Photo)" width="40" height="40">  </td>
                        <td> <b> @Html.DisplayFor(modelItem => item.Nom) </b> </td>
                        <td>
                            <a href="~/@Html.DisplayFor(modelItem => item.Photo)" style="font-weight:bold;">Photo</a>
                            
</td>
                        <td>
                            <a asp-action="ModifierInscription" asp-controller="Account" style="font-weight:bold;"  asp-route-id="@item.InscriptionId" asp-route-clientsId="@item.ClientsId">Modifier</a> 
                        </td>
                        <td>
                            <a asp-action="DetailsInscription" asp-controller="Account" style="font-weight:bold;" asp-route-id="@item.ClientsId">Details</a> 
                        </td>
                        <td>
                            <a asp-action="AjouterEnfants" asp-controller="Account" style="font-weight:bold;" asp-route-idclient="@item.ClientsId">Ajouter</a>
                        </td>
                        
                        
                    </tr>
}
                </tbody>
            </table>


       



        

       
    </div>

</section>

@section scriptsh {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css " type="text/css">
    }


@section scripts {
    @*<script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

  @*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*@
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.material.min.js"></script>

<script src="/js/jquery.lazyload.min.js"></script>

<script>
    $(document).ready(function () {
       
    $('#example').DataTable( {
        columnDefs: [
            {
                targets: [ 0, 1, 2 ],
                className: 'mdl-data-table__cell--non-numeric'
            }
        ],

        language: {
        processing: "Traitement en cours...",
        search: "Rechercher&nbsp;:",
        lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
        info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
        infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
        infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
        infoPostFix: "",
        loadingRecords: "Chargement en cours...",
        zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
        emptyTable: "Aucune donn&eacute;e disponible dans le tableau",
        paginate: {
            first: "Premier",
            previous: "Pr&eacute;c&eacute;dent",
            next: "Suivant",
            last: "Dernier"
        },
        aria: {
            sortAscending: ": activer pour trier la colonne par ordre croissant",
            sortDescending: ": activer pour trier la colonne par ordre décroissant"
        }
    }

    });

    
});


</script>       
    <script>
        $(function () {
            $("img.lazy").lazyload();
        });
    </script>
     }
