
@model List<CustomInscription>

@{
    ViewData["Title"] = "Liste DV";
    Layout = "_Layout";
}

<div class="">
    <h3>Liste des DV</h3>
    <hr />
</div>

<section class="card box-typical-full-height">
    <div class="card-block ">
        <p>
            @*<h3> Informations Principales</h3>*@
        </p>
        
       


            <table id="example" class="mdl-data-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Contact</th>
                        <th>Confirmation Number</th>
                        <th>Resultat</th>
                        <th>Dossier</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>Nom</th>
                        <th>Contact</th>
                        <th>Confirmation Number</th>
                        <th>Resultat</th>
                        <th>Dossier</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href=""><b> @Html.DisplayFor(modelItem => item.InscriptionId)</b></a></td>
                            <td>@Html.DisplayFor(modelItem => item.Photo)</td>
                            <td><b> @Html.DisplayFor(modelItem => item.Nom)</b></td>
                            <td><b> @Html.DisplayFor(modelItem => item.Tel1)</b></td>
                            <td>
                                <a asp-action="AjouterCN" style="font-weight:bold;" asp-route-id="@item.InscriptionId">Ajouter</a>
                            </td>
                            <td>
                                <a asp-action="ResultatInscription" style="font-weight:bold;" asp-route-id="@item.InscriptionId">Consulter</a>
                            </td>
                            <td>
                                <a asp-action="DetailsInscriptionDV" style="font-weight:bold;" asp-route-id="@item.InscriptionId">Details</a>
                            </td>
                            


                        </tr>
                    }
                </tbody>
            </table>


       



        

       
    </div>

</section>

@section scriptsh {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.material.min.css " type="text/css">
    }


@section scripts {
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

  @*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*@
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.11/js/dataTables.material.min.js"></script>


<script>
$(document).ready(function() {
    $('#example').DataTable( {
        columnDefs: [
            {
                targets: [ 0, 1, 2 ],
                className: 'mdl-data-table__cell--non-numeric'
            }
        ]
    } );
} );
</script>        }
