
@model ApplicationUser

@{
    ViewData["Title"] = "ModifierInscription";
    Layout = "_Layout";
}

<div class="col-md-offset-1">
    <h3>Formulaire de modification d'une inscription </h3>
    @*<p>

        Veuillez fournir des informations correctes et sans erreurs afin d'&ecirc;tre s&ucirc;r  d'obtenir un visa apr&egrave; s s&eacute;lection.<br />
        Des erreurs dans vos donn&eacute;es fournies peuvent &ecirc;tre source de disqualification.
        <br /> L'inscription se fait qu'une seule et unique fois !

    </p>*@
</div>

<section class="card box-typical-full-height">
    <div class="card-block col-md-offset-1">
        <p>
            <h3> Informations Principales</h3>
        </p>
        <hr />
        <div class="row m-t-lg ">
            <div class="col-md-6 " style="font-size:medium;">
                <span style="font-weight:bold;" >@ViewBag.errorMessage</span>
               @* <form id="form-signup_v1" name="form-signup_v1" method="POST">*@
                <form asp-controller="Account" method="post" asp-action="ModifierInscription">
                    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" class="form-label" for="signup_v1-nom">Nom</label>
                        <div class="form-control-wrapper">
                            <input id="Nom"
                                   class="form-control"
                                   name="Nom"
                                   value="@Html.DisplayFor(modelItem => modelItem.Nom)"
                                   type="text" data-validation="[L>=2, L<=18, MIXED]"
                                   data-validation-message="Veuillez saisir un nom valide" required />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" class="form-label" for="signup_v1-prenoms">Pr&eacute;noms : </label>
                        <div class="form-control-wrapper">
                            <input id="Prenoms"
                                   class="form-control"
                                   name="Prenoms"
                                   value="@Html.DisplayFor(modelItem => modelItem.Prenoms)"
                                   type="text" data-validation="[L>=6, L<=18, MIXED]"
                                   data-validation-message="Veuillez saisir un prenom valide"
                                   required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" class="form-label" for="signup_v1-datenais">Date de naissance</label>
                        <div class="form-control-wrapper">
                            <input id="datepicker" name="DateNais" value="@Html.DisplayFor(modelItem => modelItem.DateNais)" style="width: 100%" 
                                   required />
                        </div>
                    </div>




                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" class="form-label">Pays de naissance : </label>
                       
                        <div class="typeahead__container">
                            <div class="typeahead__field">

                                <span class="typeahead__query">
                                    <input class="js-typeahead-country_v1" name="PaysNais" required value="@Html.DisplayFor(modelItem => modelItem.PaysNais)" autocomplete="off" type="search">
                                </span>
                                <span class="typeahead__button">
                                    <button type="submit">
                                        <i class="typeahead__search-icon"></i>
                                    </button>
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" class="form-label">Pays d'&eacute;ligibilit&eacute; (Naissance) : </label>
                       
                        <div class="typeahead__container">
                            <div class="typeahead__field">

                                <span class="typeahead__query">
                                    <input class="js-typeahead-country_v2" name="PaysEl" required value="@Html.DisplayFor(modelItem => modelItem.PaysEl)" autocomplete="off" type="search">
                                </span>
                                <span class="typeahead__button">
                                    <button type="submit">
                                        <i class="typeahead__search-icon"></i>
                                    </button>
                                </span>

                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" class="form-label" for="signup_v1-lieu">Lieu de Naissance : </label>
                        <div class="form-control-wrapper">
                            <input id="LieuNais"
                                   class="form-control"
                                   name="LieuNais"
                                   value="@Html.DisplayFor(modelItem => modelItem.LieuNais)"
                                   type="text" data-validation="[L>=6, L<=18, MIXED]"
                                   data-validation-message="Veuillez saisir le lieu de naissance"
                                   required />
                                                           </div>
                    </div>

                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" for="exampleSelect" class="form-control-label">Sexe : </label>
                        <div class="form-control-wrapper">
                            <select id="exampleSelect" name="Sexe" required class="form-control">

                                @if (Model.Sexe == "Homme")
                                {
                                    
                                    <option selected>Homme</option>
                                    <option>Femme</option>
                                }
                                else if (Model.Sexe == "Femme")
                                {

                                    <option>Homme</option>
                                    <option selected>Femme</option>
                                }
                                else
                                {
                                    <option selected> @Html.DisplayFor(modelItem => modelItem.Sexe) </option >
                                    <option> Homme </option>
                                    <option> Femme </option>
                                }


                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label">Pays de residence : </label>
                        <div class="typeahead__container">
                            <div class="typeahead__field">

                                <span class="typeahead__query">
                                    <input class="js-typeahead-country_v3" name="PaysRes" required value = "@Html.DisplayFor(modelItem => modelItem.PaysRes)" autocomplete="off" type="search">
                                </span>
                                <span class="typeahead__button">
                                    <button type = "submit" >
                                        <i class="typeahead__search-icon"></i>
                                    </button>
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-zipcode">Zip code : </label>
                        <div class="form-control-wrapper">
                            <input id = "ZipCode"
                                   class="form-control"
                                   name="ZipCode"
                                   value="@Html.DisplayFor(modelItem => modelItem.ZipCode)"
                                   type="text" data-validation="[L>=2, L<=18, MIXED]"
                                   data-validation-message="Veuillez saisir un Zip code valide" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-adrpos">Adresse postale : </label>
                        <div class="form-control-wrapper">
                            <input id = "AdrPos"
                                   class="form-control"
                                   name="AdrPos"
                                   value="@Html.DisplayFor(modelItem => modelItem.AdrPos)"
                                   type="text" data-validation="[L>=2, L<=18, MIXED]"
                                   data-validation-message="Veuillez saisir une adresse valide"
                                    />
                        </div>
                    </div>


                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" for="exampleSelectstatut" class="form-control-label">Statut Marital : </label>
                        <div class="form-control-wrapper">
                            <select id = "exampleSelectstatut" name="StatutMarital" required class="form-control">
                                <option selected>Selectionnez votre choix</option>
                                <option>Celibataire</option>
                                <option>Mari&eacute;(e)</option>
                                <option>Divorc&eacute; (e) l&eacute;gal(e)</option>
                                <option>S&eacute;par&eacute;(e)</option>
                                <option>Veuf(ve)</option>

                                @if (Model.StatutMarital == "Celibataire")
                                {

                                    
                                    <option selected>Celibataire</option>
                                    <option>Mari&eacute;(e)</option>
                                    <option>Divorc&eacute; (e) l&eacute;gal(e)</option>
                                    <option>S&eacute;par&eacute;(e)</option>
                                    <option>Veuf(ve)</option>
                                }
                                else if (Model.StatutMarital == "Marié(e)")
                                {

                                    <option>Celibataire</option>
                                    <option selected>Mari&eacute;(e)</option>
                                    <option>Divorc&eacute; (e) l&eacute;gal(e)</option>
                                    <option>S&eacute;par&eacute;(e)</option>
                                    <option>Veuf(ve)</option>
                                }
                                else if (Model.StatutMarital == "Divorcé (e) légal(e)")
                                {
                                    <option>Celibataire</option>
                                    <option >Mari&eacute;(e)</option>
                                    <option selected>Divorc&eacute; (e) l&eacute;gal(e)</option>
                                    <option>S&eacute;par&eacute;(e)</option>
                                    <option>Veuf(ve)</option>
                                }
                                else if (Model.StatutMarital == "Séparé(e)")
                                {
                                    <option>Celibataire</option>
                                    <option>Mari&eacute;(e)</option>
                                    <option >Divorc&eacute; (e) l&eacute;gal(e)</option>
                                    <option selected>S&eacute;par&eacute;(e)</option>
                                    <option>Veuf(ve)</option>
                                }
                                else if (Model.StatutMarital == "Veuf(ve)")
                                {
                                    <option>Celibataire</option>
                                    <option>Mari&eacute;(e)</option>
                                    <option>Divorc&eacute; (e) l&eacute;gal(e)</option>
                                    <option >S&eacute;par&eacute;(e)</option>
                                    <option selected>Veuf(ve)</option>
                                }
                                else
                                {
                                    <option selected>@Html.DisplayFor(modelItem => modelItem.AdrPos)</option>
                                    <option>Celibataire</option>
                                    <option>Mari&eacute;(e)</option>
                                    <option>Divorc&eacute; (e) l&eacute;gal(e)</option>
                                    <option>S&eacute;par&eacute;(e)</option>
                                    <option>Veuf(ve)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-nb">Nombre d'enfant : </label>
                        <div class="form-control-wrapper">
                            <input id = "NbEnfts"
                                   class="form-control"
                                   name="NbEnfts"
                                   value="@Html.DisplayFor(modelItem => modelItem.NbEnfts)"
                                   required
                                   type = "text" data-validation="[L>=1, L<=2, MIXED]"
                                   data-validation-message="Veuillez saisir un nombre d'enfants" />
                        </div>
                    </div>




                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-diplome">Diplome : </label>
                        <div class="form-control-wrapper">
                            <div class="radio">

                                @if (Model.Diplome == "BAC")
                                {
                                    <input type="radio" name="Diplome" id="radio-1" checked value="BAC">
                                    <label for="radio-1">BAC</label>
                                    <input type="radio" name="Diplome" id="radio-2" value="BTS">
                                    <label for="radio-2">BTS</label>
                                }
                                else
                                {
                                    <input type="radio" name="Diplome" id="radio-1"  value="BAC">
                                    <label for="radio-1">BAC</label>
                                    <input type="radio" name="Diplome" id="radio-2" checked value="BTS">
                                    <label for="radio-2">BTS</label>
                                }




                            </div>


                        </div>
                    </div>




                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-autres">Autres : </label>
                        <div class="form-control-wrapper">
                            <input id = "AutresDip"
                                   value="@Html.DisplayFor(modelItem => modelItem.AutresDip)"
                                   class="form-control"
                                   name="AutresDip" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-parain">Parain ID(facultatif) : </label>
                        <div class="form-control-wrapper">
                            <input id = "ParainIdf"
                                   class="form-control"
                                   name="ParainIdf"
                                   value="@Html.DisplayFor(modelItem => modelItem.ParainIdf)"
                                   placeholder="saisissez l'identifiant du parain" />
                        </div>
                    </div>

                    <p>
                        <h3> Information Connexion</h3>
                    </p>
                    <hr />
                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-email">Email : </label>
                        <div class="form-control-wrapper">
                            <input id = "signup_v1-email"
                                   class="form-control"
                                   name="Email"
                                   type="text"
                                   value="@Html.DisplayFor(modelItem => modelItem.Email)"
                                   required
                                   data-validation="[EMAIL]">
                        </div>
                    </div>

                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-email">Repetez Adresse Email :</label>
                        <div class="form-control-wrapper">
                            <input id = "signup_v1-email"
                                class="form-control"
                                name="ConfirmEmail"
                                type="text"
                                   value="@Html.DisplayFor(modelItem => modelItem.Email)"
                                   required
                                data-validation="[EMAIL]"
                                data-validation-message="$ ne correspond pas à l'email saisi">
                        </div>
                    </div>
                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-password">Mot de passe : </label>
                        <div class="form-control-wrapper">
                            <input id = "signup_v1-password"
                                   class="form-control"
                                   name="Password"
                                   value="@Html.DisplayFor(modelItem => modelItem.Password)"
                                   type="password" data-validation="[L>=6]"
                                   data-validation-message="$ must be at least 6 characters"
                                   required >
                        </div>
                    </div>


                    <div class="form-group">
                        <label style = "font-size:large;font-weight:bold;" class="form-label" for="signup_v1-password-confirm">Confirmer mot de passe :</label>
                        <div class="form-control-wrapper">
                            <input id = "signup_v1-password-confirm"
                                   class="form-control"
                                   name="ConfirmPassword"
                                   value="@Html.DisplayFor(modelItem => modelItem.Password)"
                                   type="password" data-validation="[V==Password]"
                                   data-validation-message="$ ne correspond pas au mot de passe"
                                   required >
                        </div>
                    </div>

                    @*<div class="form-group">
                            <label class="form-label" for="signup_v1-email-confirm">Confirm Email</label>
                            <div class="form-control-wrapper">
                                <input id="signup_v1-email-confirm"
                                       class="form-control"
                                       name="signup_v1[email-confirm]"
                                       type="text"
                                       data-validation="[V==signup_v1[email]]"
                                       data-validation-message="$ does not match the email">
                            </div>
                        </div>*@


                    <p>
                        <h3> Contacts</h3>
                    </p>

                    <hr />
                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" class="form-label" for="signup_v2-tel1">Telephone1 : </label>
                        <div class="form-control-wrapper">
                            <fieldset class="form-group">

                                <input type="text" class="form-control" name="Tel1"
                                       data-validation="[L>=8, L<=11, MIXED]"
                                       value="@Html.DisplayFor(modelItem => modelItem.Tel1)"
                                       data-validation-message="Veuillez saisir un numero valide"
                                       id="phone-mask-input-immigrus"
                                       required >
                                <small class="text-muted">exemple: 00000000</small>
                            </fieldset>

                        </div>
                    </div>


                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" class="form-label" for="signup_v2-tel1">Telephone2 : </label>
                        <div class="form-control-wrapper">
                            <fieldset class="form-group">
                                
                                <input type="tel" class="form-control" name="Tel2"
                                       value="@Html.DisplayFor(modelItem => modelItem.Tel2)"
                                       id="phone-mask-input-immigrus">
                                <small class="text-muted">exemple: 00000000</small>
                            </fieldset>

                        </div>
                    </div>


                    <p>
                        <h3> Photos</h3>
                    </p>

                    <hr />

                    <div>
                        <div class="demo-section k-content">
                            <input name="files" id="files"  value="Parcourir" type="file" />
                            
                        </div>
                    </div>

                    <span style="color:red;">*Veuillez laisser vide pour conserver l'ancienne photo</span>

                    @*<div class="form-group form-group-checkbox">
                        <div class="checkbox">
                            <input id="signup_v2-agree"
                                   name="signup_v2[agree]"
                                   data-validation="[NOTEMPTY]"
                                   data-validation-message="You must agree the terms and conditions"
                                   type="checkbox"
                                   required >
                            <label style="font-size:large;" for="signup_v2-agree">J'accepte les <a href="#"> Termes et Conditions d'Utilisation</a> et la <a href="#">Politique de Confidentialit&eacute;</a> de Immigrus</label>
                        </div>
                    </div>*@

                    
                    <div class="form-group">
                        <label style="font-size:large;font-weight:bold;" class="form-label" for="signup_v1-diplome">Statut du dossier : </label>
                        <div class="form-control-wrapper">
                            <div class="radio">

                               
                                    <input type="radio" name="Statut" id="radio-1" checked value="VALIDER">
                                    <label for="radio-1">VALIDER</label>
                                    <input type="radio" name="Statut" id="radio-2"  value="NON VALIDER">
                                    <label for="radio-2">NON VALIDER</label>
                      




                            </div>


                        </div>
                    </div>

                    <input type="hidden" name="ClientsId" value="@ViewBag.inscription.ClientId" />
                    <input type="hidden" name="Id" value="@ViewBag.inscription.Id" />
                    

                    <div class="form-group">
                        <button type="submit" class="btn-large waves-effect waves-light blue">Modifier</button>
                    </div>
                </form>
            </div>

        </div>



        

        @*<form asp-action="CreerInscription">
                <div class="form-horizontal">
                    <h4>ApplicationUser</h4>
                    <hr />
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="AccessFailedCount" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="AccessFailedCount" class="form-control" />
                            <span asp-validation-for="AccessFailedCount" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AdrPos" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="AdrPos" class="form-control" />
                            <span asp-validation-for="AdrPos" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AutresDip" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="AutresDip" class="form-control" />
                            <span asp-validation-for="AutresDip" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ClientsId" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ClientsId" class="form-control" />
                            <span asp-validation-for="ClientsId" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConcurrencyStamp" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ConcurrencyStamp" class="form-control" />
                            <span asp-validation-for="ConcurrencyStamp" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateCreation" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="DateCreation" class="form-control" />
                            <span asp-validation-for="DateCreation" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateNais" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="DateNais" class="form-control" />
                            <span asp-validation-for="DateNais" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Diplome" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Diplome" class="form-control" />
                            <span asp-validation-for="Diplome" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <input asp-for="EmailConfirmed" />
                                <label asp-for="EmailConfirmed"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Etat" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Etat" class="form-control" />
                            <span asp-validation-for="Etat" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LieuNais" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LieuNais" class="form-control" />
                            <span asp-validation-for="LieuNais" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <input asp-for="LockoutEnabled" />
                                <label asp-for="LockoutEnabled"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LockoutEnd" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LockoutEnd" class="form-control" />
                            <span asp-validation-for="LockoutEnd" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NbEnfts" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="NbEnfts" class="form-control" />
                            <span asp-validation-for="NbEnfts" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nom" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Nom" class="form-control" />
                            <span asp-validation-for="Nom" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NormalizedEmail" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="NormalizedEmail" class="form-control" />
                            <span asp-validation-for="NormalizedEmail" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NormalizedUserName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="NormalizedUserName" class="form-control" />
                            <span asp-validation-for="NormalizedUserName" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParainIdf" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ParainIdf" class="form-control" />
                            <span asp-validation-for="ParainIdf" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordHash" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PasswordHash" class="form-control" />
                            <span asp-validation-for="PasswordHash" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaysEl" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PaysEl" class="form-control" />
                            <span asp-validation-for="PaysEl" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaysNais" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PaysNais" class="form-control" />
                            <span asp-validation-for="PaysNais" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaysRes" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PaysRes" class="form-control" />
                            <span asp-validation-for="PaysRes" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <input asp-for="PhoneNumberConfirmed" />
                                <label asp-for="PhoneNumberConfirmed"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Photo" class="form-control" />
                            <span asp-validation-for="Photo" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Prenoms" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Prenoms" class="form-control" />
                            <span asp-validation-for="Prenoms" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SecurityStamp" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="SecurityStamp" class="form-control" />
                            <span asp-validation-for="SecurityStamp" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Sexe" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Sexe" class="form-control" />
                            <span asp-validation-for="Sexe" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Statut" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Statut" class="form-control" />
                            <span asp-validation-for="Statut" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="StatutMarital" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="StatutMarital" class="form-control" />
                            <span asp-validation-for="StatutMarital" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tel1" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Tel1" class="form-control" />
                            <span asp-validation-for="Tel1" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tel2" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Tel2" class="form-control" />
                            <span asp-validation-for="Tel2" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <input asp-for="TwoFactorEnabled" />
                                <label asp-for="TwoFactorEnabled"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ZipCode" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ZipCode" class="form-control" />
                            <span asp-validation-for="ZipCode" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                </div>
            </form>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>*@

    </div>

</section>


@section scripts {
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @*<script src="/js/lib/jquery/jquery.min.js"></script>
        <script src="/js/lib/tether/tether.min.js"></script>
        <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/app.js"></script>*@

    @*<script src="/js/lib/clockpicker/bootstrap-clockpicker.min.js"></script>
        <script src="/js/lib/clockpicker/bootstrap-clockpicker-init.js"></script>*@
    @*<script src="~/js/lib/daterangepicker/daterangepicker.js"></script>
        <script src="~/js/lib/bootstrap-select/bootstrap-select.min.js"></script>*@

    @*<script src="/js/lib/typeahead/jquery.typeahead.min.js" type="text/javascript"></script>
    <script src="/js/lib/select2/select2.full.min.js" type="text/javascript"></script>
    <script src="/js/lib/typeahead/typeahead-init.js" type="text/javascript"></script>*@

    @*<script src="/js/lib/input-mask/jquery.mask.min.js" type="text/javascript"></script>
    <script src="/js/lib/input-mask/input-mask-init.js" type="text/javascript"></script>*@

@*<base href="http://demos.telerik.com/kendo-ui/datepicker/index">*@
<script src="//kendo.cdn.telerik.com/2016.2.504/js/jquery.min.js" type="text/javascript"></script>
<script src="//kendo.cdn.telerik.com/2016.2.504/js/kendo.all.min.js" type="text/javascript"></script>
<script>
    $("#datepicker").kendoDatePicker({
        culture: "fr-FR",
        // display month and year in the input
        format: "dd/MM/yyyy"
        //....
    })

        //var dp = $("#datepicker").kendoDatePicker().data("kendoDatePicker");

        //dp.dateView
        //  .calendar.element

        //  .append('<div class="k-footer"><a href="#" class="k-link k-nav-today">' + kendo.toString(new Date(), "dd/MM/yyyy") + "</a></div>")
        //  .find(".k-footer:first")
        //  .remove();

       
</script>
 <script>
                $(document).ready(function() {
                    //$("#files").kendoUpload({
                    //    async: {
                    //        saveUrl: "UploadMultiple",
                    //        removeUrl: "remove",
                    //        uploading: 'chargement en cours...',
                    //        autoUpload: true
                    //    },                        
                    //    localization: {
                    //    select: 'Choisir la photo',
                    //    remove: 'Supprimer la photo',
                    //    uploading: 'chargement en cours...',                        
                    //    cancel: 'Annuler'
                    //}
                    //});
                    $("#files").kendoUpload({
                        localization: {
                                select: 'Choisir la photo',
                                remove: 'Supprimer la photo',
                                uploading: 'chargement en cours...',                        
                                cancel: 'Annuler'
                            }
                    });


                   

                });
            </script>



<link rel="stylesheet" href="/src/jquery.typeahead.css">

@*<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>*@
<!--script src="../dist/jquery.typeahead.min.js"></script-->
<script src="/src/jquery.typeahead.js"></script>

<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

<script>

    $.typeahead({
        input: '.js-typeahead-country_v1',
        order: "desc",
        source: {
            data: [
                "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda",
                "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh",
                "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia",
                "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burma",
                "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Republic", "Chad",
                "Chile", "China", "Colombia", "Comoros", "Congo, Democratic Republic", "Congo, Republic of the",
                "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti",
                "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador",
                "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon",
                "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Greenland", "Grenada", "Guatemala", "Guinea",
                "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India",
                "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan",
                "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos",
                "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg",
                "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands",
                "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Mongolia", "Morocco", "Monaco",
                "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger",
                "Nigeria", "Norway", "Oman", "Pakistan", "Panama", "Papua New Guinea", "Paraguay", "Peru",
                "Philippines", "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Samoa", "San Marino",
                "Sao Tome", "Saudi Arabia", "Senegal", "Serbia and Montenegro", "Seychelles", "Sierra Leone",
                "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "Spain",
                "Sri Lanka", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan",
                "Tajikistan", "Tanzania", "Thailand", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey",
                "Turkmenistan", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States",
                "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe"
            ]
        },
        callback: {
            onInit: function (node) {
                console.log('Typeahead Initiated on ' + node.selector);
            }
        }
    });
    $.typeahead({
        input: '.js-typeahead-country_v2',
        order: "desc",
        source: {
            data: [
                "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda",
                "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh",
                "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia",
                "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burma",
                "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Republic", "Chad",
                "Chile", "China", "Colombia", "Comoros", "Congo, Democratic Republic", "Congo, Republic of the",
                "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti",
                "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador",
                "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon",
                "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Greenland", "Grenada", "Guatemala", "Guinea",
                "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India",
                "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan",
                "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos",
                "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg",
                "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands",
                "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Mongolia", "Morocco", "Monaco",
                "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger",
                "Nigeria", "Norway", "Oman", "Pakistan", "Panama", "Papua New Guinea", "Paraguay", "Peru",
                "Philippines", "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Samoa", "San Marino",
                "Sao Tome", "Saudi Arabia", "Senegal", "Serbia and Montenegro", "Seychelles", "Sierra Leone",
                "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "Spain",
                "Sri Lanka", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan",
                "Tajikistan", "Tanzania", "Thailand", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey",
                "Turkmenistan", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States",
                "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe"
            ]
        },
        callback: {
            onInit: function (node) {
                console.log('Typeahead Initiated on ' + node.selector);
            }
        }
    });
    $.typeahead({
        input: '.js-typeahead-country_v3',
        order: "desc",
        source: {
            data: [
                "Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Antigua and Barbuda",
                "Argentina", "Armenia", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh",
                "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia",
                "Bosnia and Herzegovina", "Botswana", "Brazil", "Brunei", "Bulgaria", "Burkina Faso", "Burma",
                "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Central African Republic", "Chad",
                "Chile", "China", "Colombia", "Comoros", "Congo, Democratic Republic", "Congo, Republic of the",
                "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czech Republic", "Denmark", "Djibouti",
                "Dominica", "Dominican Republic", "East Timor", "Ecuador", "Egypt", "El Salvador",
                "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Fiji", "Finland", "France", "Gabon",
                "Gambia", "Georgia", "Germany", "Ghana", "Greece", "Greenland", "Grenada", "Guatemala", "Guinea",
                "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India",
                "Indonesia", "Iran", "Iraq", "Ireland", "Israel", "Italy", "Jamaica", "Japan", "Jordan",
                "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos",
                "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg",
                "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands",
                "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Mongolia", "Morocco", "Monaco",
                "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "New Zealand", "Nicaragua", "Niger",
                "Nigeria", "Norway", "Oman", "Pakistan", "Panama", "Papua New Guinea", "Paraguay", "Peru",
                "Philippines", "Poland", "Portugal", "Qatar", "Romania", "Russia", "Rwanda", "Samoa", "San Marino",
                "Sao Tome", "Saudi Arabia", "Senegal", "Serbia and Montenegro", "Seychelles", "Sierra Leone",
                "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "Spain",
                "Sri Lanka", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan",
                "Tajikistan", "Tanzania", "Thailand", "Togo", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey",
                "Turkmenistan", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States",
                "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Yemen", "Zambia", "Zimbabwe"
            ]
        },
        callback: {
            onInit: function (node) {
                console.log('Typeahead Initiated on ' + node.selector);
            }
        }
    });
</script>
}
